## Introduction to Python

## Let's do simple calculation

In [1]:
1 + 1

2

In [2]:
2 * 2

4

In [3]:
10 - 4

6

In [4]:
x = 3
print type(x) # Prints "<type 'int'>"
print x       # Prints "3"
print x + 1   # Addition; prints "4"
print x - 1   # Subtraction; prints "2"
print x * 2   # Multiplication; prints "6"
print x ** 2  # Exponentiation; prints "9"
x += 1
print x  # Prints "4"
x *= 2
print x  # Prints "8"
y = 2.5
print type(y) # Prints "<type 'float'>"
print y, y + 1, y * 2, y ** 2 # Prints "2.5 3.5 5.0 6.25"|

<type 'int'>
3
4
2
6
9
4
8
<type 'float'>
2.5 3.5 5.0 6.25

## Play with some variables

In [5]:
x = 1

In [6]:
print x

1

In [7]:
x = 2

In [8]:
print x

2

## Play with logics

In [9]:
t = True
f = False
print type(t) # Prints "<type 'bool'>"
print t and f # Logical AND; prints "False"

<type 'bool'>
False

In [10]:
print t or f  # Logical OR; prints "True"
print not t   # Logical NOT; prints "False"
print t != f  # Logical XOR; prints "True"

True
False
True

## Play with list

In [11]:
Name = ["Adit", "Rudi", "Haqi", "Dhafin"]

In [12]:
Name[3:]

['Dhafin']

Play with for loops

In [13]:
for i in Name:
    print i

Adit
Rudi
Haqi
Dhafin

In [14]:
for i in range(10):
    print i

0
1
2
3
4
5
6
7
8
9

## If Else statement

In [15]:
if x ==2:
    print "Smallest Prime Number"
else:
    print "Other Number"

Smallest Prime Number

## Function

In [16]:
def squareRoot(x):
    return (x)**1/2

In [17]:
squareRoot(4)

2

## Numpy

In [18]:
import numpy as np

x = np.array([[1,2],[3,4]], dtype=np.float64)
y = np.array([[5,6],[7,8]], dtype=np.float64)

# Elementwise sum; both produce the array
# [[ 6.0  8.0]
#  [10.0 12.0]]
print x + y
print np.add(x, y)

[[  6.   8.]
 [ 10.  12.]]
[[  6.   8.]
 [ 10.  12.]]

## Play with Pandas

In [19]:
import pandas as pd

In [20]:
data = pd.read_csv("data.csv")

In [21]:
data.head(10)

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
2,3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0
5,6,0,0.213179,74,0,0.375607,3500.0,3,0,1,0,1.0
6,7,0,0.305682,57,0,5710.000000,NaN,8,0,3,0,0.0
7,8,0,0.754464,39,0,0.209940,3500.0,8,0,0,0,0.0
8,9,0,0.116951,27,0,46.000000,NaN,2,0,0,0,NaN
9,10,0,0.189169,57,0,0.606291,23684.0,9,0,4,0,2.0

## Lets do some data preparation

In [22]:
link = "https://www.kaggle.com/c/GiveMeSomeCredit"

In [23]:
data.isnull().sum()

Unnamed: 0                                  0
SeriousDlqin2yrs                            0
RevolvingUtilizationOfUnsecuredLines        0
age                                         0
NumberOfTime30-59DaysPastDueNotWorse        0
DebtRatio                                   0
MonthlyIncome                           29731
NumberOfOpenCreditLinesAndLoans             0
NumberOfTimes90DaysLate                     0
NumberRealEstateLoansOrLines                0
NumberOfTime60-89DaysPastDueNotWorse        0
NumberOfDependents                       3924
dtype: int64

## Data Imputation

In [24]:
from sklearn.preprocessing.imputation import Imputer

In [25]:
imput = Imputer(missing_values= "NaN", strategy="median", axis= 0)

In [26]:
dataImputed = imput.fit_transform(data)

In [27]:
dataImputed = pd.DataFrame(dataImputed, columns= data.columns)

In [28]:
dataImputed.head()

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1.0,1.0,0.766127,45.0,2.0,0.802982,9120.0,13.0,0.0,6.0,0.0,2.0
1,2.0,0.0,0.957151,40.0,0.0,0.121876,2600.0,4.0,0.0,0.0,0.0,1.0
2,3.0,0.0,0.658180,38.0,1.0,0.085113,3042.0,2.0,1.0,0.0,0.0,0.0
3,4.0,0.0,0.233810,30.0,0.0,0.036050,3300.0,5.0,0.0,0.0,0.0,0.0
4,5.0,0.0,0.907239,49.0,1.0,0.024926,63588.0,7.0,0.0,1.0,0.0,0.0

## Prepare the Input and the Output

In [29]:
def extractData(data):
    y = data["SeriousDlqin2yrs"]
    x = data.drop(["SeriousDlqin2yrs"], axis= 1)
    
    return x, y

In [30]:
x, y = extractData(dataImputed)

In [31]:
y.value_counts(normalize= True)

0.0    0.93316
1.0    0.06684
Name: SeriousDlqin2yrs, dtype: float64

## TrainSet and  TestSet Split

In [32]:
from sklearn.cross_validation import train_test_split

In [33]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 123)

In [ ]:
x_train.head()

,Unnamed: 0,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
42032,42033.0,0.175249,38.0,0.0,0.055798,18333.0,6.0,0.0,0.0,0.0,0.0
108039,108040.0,0.464535,26.0,0.0,0.117953,2500.0,2.0,1.0,0.0,1.0,0.0
22328,22329.0,0.310689,58.0,0.0,0.182013,1400.0,3.0,0.0,0.0,0.0,0.0
73529,73530.0,0.000000,57.0,0.0,0.821277,11100.0,17.0,0.0,7.0,0.0,0.0
43779,43780.0,0.210553,54.0,0.0,0.626738,3380.0,16.0,0.0,1.0,0.0,1.0

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
logreg = LogisticRegression()
logreg.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [ ]:
logreg.score(x_train, y_train)

0.93291555555555561

## The Classifier

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
boosting = GradientBoostingClassifier(learning_rate= 0.015, n_estimators= 1000)

In [ ]:
boosting.fit(x_train, y_train)

In [ ]:
boosting.score(x_train, y_train)

In [ ]:
boosting.score(x_test, y_test)

## Lets do some cross validation

In [ ]:
from sklearn.cross_validation import cross_val_score, KFold, StratifiedKFold
from sklearn.metrics import roc_auc_score

In [ ]:
# data.shape[0]

In [ ]:
# kflod = KFold(n = data.shape[0]/5, n_folds= 5, random_state=123)

In [ ]:
# xsfold = StratifiedKFold(n_folds= 5)

In [ ]:
cross_val_score(boosting, x_train, y_train, cv=3 )

## Random and Grid Search

In [ ]:

param_grid = {'learning_rate': [0.1, 0.085, 0.05],
              'n_estimators': [200, 300, 100]}

In [ ]:
from sklearn.model_selection import GridSearchCV