In [1]:
import pandas as pd

In [12]:
import numpy as np

In [2]:
s = pd.Series(list('abca'))

In [8]:
s

0    a
1    b
2    c
3    a
dtype: object

In [9]:
pd.get_dummies(s)

   a  b  c
0  1  0  0
1  0  1  0
2  0  0  1
3  1  0  0

In [13]:
s1 = ['a', 'b', np.nan]

In [17]:
s1

['a', 'b', nan]

In [18]:
pd.get_dummies(s1)

   a  b
0  1  0
1  0  1
2  0  0

In [19]:
pd.get_dummies(s1, dummy_na=True)

   a  b  NaN
0  1  0    0
1  0  1    0
2  0  0    1

In [40]:
df = pd.DataFrame({'A' : ['a', 'b', 'a'], 
                   'B' : ['b', 'a', 'c'], 
                   'C' : [1, 2, 3],
                'D' : ['a', 4, 'd']})

In [41]:
df

   A  B  C  D
0  a  b  1  a
1  b  a  2  4
2  a  c  3  d

In [42]:
pd.get_dummies(df)

   C  A_a  A_b  B_a  B_b  B_c  D_4  D_a  D_d
0  1    1    0    0    1    0    0    1    0
1  2    0    1    1    0    0    1    0    0
2  3    1    0    0    0    1    0    0    1