In [3]:
import pandas as pd

In [4]:
import numpy as np

In [6]:
data = pd.read_csv("Advertising.csv")

In [7]:
data.head(10)

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9
5           6    8.7   48.9       75.0    7.2
6           7   57.5   32.8       23.5   11.8
7           8  120.2   19.6       11.6   13.2
8           9    8.6    2.1        1.0    4.8
9          10  199.8    2.6       21.2   10.6

In [8]:
data = data.drop(["Unnamed: 0"], axis=1)

In [9]:
data.isnull().any()

TV           False
Radio        False
Newspaper    False
Sales        False
dtype: bool

In [10]:
drop = ["Sales"]

def extractData(data):
    x = data.drop(drop, axis=1)
    y = data["Sales"]
    
    return x, y

x,y = extractData(data)

In [11]:
x.head()

      TV  Radio  Newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [12]:
y.head()

0    22.1
1    10.4
2     9.3
3    18.5
4    12.9
Name: Sales, dtype: float64

In [13]:
from sklearn.cross_validation import train_test_split

In [14]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 123)

In [15]:
from sklearn.linear_model import LinearRegressionn

In [18]:
linReg = LinearRegression()
linReg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [19]:
linReg.score(x_train, y_train)

0.88739976647971075

In [20]:
linReg.score(x_test, y_test)

0.92886092852481628

In [21]:
y_predicted = linReg.predict(x_test)

In [22]:
y_predicted

array([ 12.5893486 ,   6.57466309,  15.51569107,   9.76164334,
        14.08560255,  20.17829056,  12.32800513,  19.82963814,
        14.87331552,  10.31222767,  10.12322859,  20.67028922,
         6.53084946,   6.01905104,   3.57991965,  11.29258057,
        13.14446753,  15.95278361,   7.79731662,  18.014187  ,
         7.55638624,  11.66008132,  10.74032853,   7.35587039,
        22.10561982,  10.2894642 ,  10.54321563,  14.89639115,
        10.0460676 ,  20.54318186,   9.63429763,  21.12541362,
        24.01131416,   6.77913882,  15.12282694,  19.16513974,
        18.44896906,  19.54139302,  16.23003217,   9.43340198])

In [23]:
y_test.shape

(40L,)

In [24]:
error = y_predicted - y_test

In [25]:
error

50     1.189349
127   -2.225337
37     0.815691
149   -0.338357
19    -0.514397
104   -0.521709
179   -0.271995
53    -1.370362
162   -0.026684
158    3.012228
82    -1.176771
185   -1.929711
182   -2.169151
189   -0.680949
108   -1.720080
31    -0.607419
4      0.244468
178    4.152784
121    0.797317
20     0.014187
172   -0.043614
88    -1.239919
166    2.740329
170   -1.044130
128   -2.594380
72     1.489464
180    0.043216
26    -0.103609
144   -1.353932
52    -2.056818
79    -1.365702
93    -1.074586
183   -2.188686
119    0.179139
85    -0.077173
133   -0.434860
184    0.848969
139   -1.158607
95    -0.669968
140   -1.466598
Name: Sales, dtype: float64

In [26]:
rss = sum(error**2)

In [27]:
rss

88.120519164114057

In [28]:
## Increase Complexity

In [29]:
x_poly = x**2

In [30]:
x

        TV  Radio  Newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
5      8.7   48.9       75.0
6     57.5   32.8       23.5
7    120.2   19.6       11.6
8      8.6    2.1        1.0
9    199.8    2.6       21.2
10    66.1    5.8       24.2
11   214.7   24.0        4.0
12    23.8   35.1       65.9
13    97.5    7.6        7.2
14   204.1   32.9       46.0
15   195.4   47.7       52.9
16    67.8   36.6      114.0
17   281.4   39.6       55.8
18    69.2   20.5       18.3
19   147.3   23.9       19.1
20   218.4   27.7       53.4
21   237.4    5.1       23.5
22    13.2   15.9       49.6
23   228.3   16.9       26.2
24    62.3   12.6       18.3
25   262.9    3.5       19.5
26   142.9   29.3       12.6
27   240.1   16.7       22.9
28   248.8   27.1       22.9
29    70.6   16.0       40.8
..     ...    ...        ...
170   50.0   11.6       18.4
171  164.5   20.9       47.4
172   19.6   20.1       17.0
173  168.4    7.1       12.8
174  222.4    3.4       13.1
175  276.9   48.9       41.8
176  248.4   30.2       20.3
177  170.2    7.8       35.2
178  276.7    2.3       23.7
179  165.6   10.0       17.6
180  156.6    2.6        8.3
181  218.5    5.4       27.4
182   56.2    5.7       29.7
183  287.6   43.0       71.8
184  253.8   21.3       30.0
185  205.0   45.1       19.6
186  139.5    2.1       26.6
187  191.1   28.7       18.2
188  286.0   13.9        3.7
189   18.7   12.1       23.4
190   39.5   41.1        5.8
191   75.5   10.8        6.0
192   17.2    4.1       31.6
193  166.8   42.0        3.6
194  149.7   35.6        6.0
195   38.2    3.7       13.8
196   94.2    4.9        8.1
197  177.0    9.3        6.4
198  283.6   42.0       66.2
199  232.1    8.6        8.7

[200 rows x 3 columns]

In [31]:
x_poly.head(2)

         TV    Radio  Newspaper
0  52946.01  1428.84    4788.64
1   1980.25  1544.49    2034.01

In [32]:
x.head(2)

      TV  Radio  Newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1

In [33]:
x_all = pd.concat([x, x_poly], axis=1)

In [35]:
x_all.head(2)

      TV  Radio  Newspaper        TV    Radio  Newspaper
0  230.1   37.8       69.2  52946.01  1428.84    4788.64
1   44.5   39.3       45.1   1980.25  1544.49    2034.01

In [36]:
x_trainPoly, x_testPoly, y_trainPoly, y_testPoly = train_test_split(x_all, y, test_size = 0.2, random_state = 123)

In [37]:
x_trainPoly.head(2)

        TV  Radio  Newspaper        TV   Radio  Newspaper
24    62.3   12.6       18.3   3881.29  158.76     334.89
150  280.7   13.9       37.0  78792.49  193.21    1369.00

In [38]:
linRegPoly = LinearRegression()
linRegPoly.fit(x_trainPoly, y_trainPoly)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [40]:
linRegPoly.score(x_trainPoly, y_train)

0.91143428084272449

In [41]:
linRegPoly.score(x_testPoly, y_test)

0.93645184024927142