In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
data = pd.read_csv("Advertising.csv")

In [4]:
data.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [5]:
data = data.drop(["Unnamed: 0"], axis=1)

In [6]:
data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [7]:
data.isnull().any()

TV           False
Radio        False
Newspaper    False
Sales        False
dtype: bool

In [8]:
drop = ["Sales"]

def extractData(data):
    x = data.drop(drop, axis=1)
    y = data["Sales"]
    
    return x, y

x, y = extractData(data)

In [9]:
x.head()

      TV  Radio  Newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [10]:
y.head()

0    22.1
1    10.4
2     9.3
3    18.5
4    12.9
Name: Sales, dtype: float64

In [11]:
from sklearn.cross_validation import train_test_split

C:\Users\quantum\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.5, random_state=123)

In [13]:
x_train.head()

        TV  Radio  Newspaper
61   261.3   42.7       54.7
195   38.2    3.7       13.8
38    43.1   26.7       35.1
27   240.1   16.7       22.9
54   262.7   28.8       15.9

In [14]:
from sklearn.linear_model import LinearRegression
linReg = LinearRegression()
linReg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [15]:
linReg.score(x_train, y_train)

0.90990930065824505

In [16]:
linReg.score(x_test, y_test)

0.8810705224495945

In [17]:
y_predicted = linReg.predict(x_test)

In [18]:
y_predicted

array([ 12.41394308,   6.30069821,  15.65198051,   9.68783312,
        14.14024728,  20.53758335,  12.25443466,  20.02681422,
        14.89196606,  10.21807935,   9.97977116,  21.04815394,
         6.20395547,   5.7392927 ,   3.14839636,  11.14327755,
        12.93253414,  15.92132269,   7.51650139,  18.07047191,
         7.3965548 ,  11.42544621,  10.76067004,   7.13502473,
        22.61781187,  10.27883767,  10.41025741,  15.03397826,
         9.84210909,  20.81508197,   9.44177911,  21.25047902,
        24.26488891,   6.54984805,  14.98564271,  19.32457597,
        18.57814102,  19.95131155,  16.25591223,   9.33041178,
         7.91157953,  18.34327591,  15.35495066,  19.0168902 ,
        16.52648994,  14.21936314,  17.32397027,  13.64115111,
        16.40857849,  10.41654713,   9.42033079,  14.54137727,
        21.8505778 ,  14.30335301,   8.23408062,  13.45819847,
         6.71523875,  25.07370047,  13.81524099,  16.76089752,
        14.48077544,   6.77265955,  13.87108145,   9.50228132,
         3.3909788 ,   9.69325308,  15.53474287,   9.81305037,
        23.76925182,  13.22428231,  19.52575994,   8.62844486,
        12.24389806,  11.34767422,  15.36284061,   8.6386522 ,
         4.04524687,   9.75689608,  10.41002929,   5.38386912,
        12.05086363,  21.73900293,  11.95092016,   8.3474953 ,
         8.86766912,  17.00824969,  20.54526868,  18.7512111 ,
        15.11024002,  20.87683659,  16.35778146,  18.27551064,
        23.4978887 ,   8.58145007,   8.88702283,  12.3115794 ,
        12.46678153,  18.00486126,   7.6558708 ,  17.41379861])

In [19]:
error = y_predicted - y_test

In [20]:
error.head()

50     1.013943
127   -2.499302
37     0.951981
149   -0.412167
19    -0.459753
Name: Sales, dtype: float64

In [21]:
rss = sum(error**2)

In [22]:
rss

322.97700814964367

In [23]:
x

        TV  Radio  Newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
5      8.7   48.9       75.0
6     57.5   32.8       23.5
7    120.2   19.6       11.6
8      8.6    2.1        1.0
9    199.8    2.6       21.2
10    66.1    5.8       24.2
11   214.7   24.0        4.0
12    23.8   35.1       65.9
13    97.5    7.6        7.2
14   204.1   32.9       46.0
15   195.4   47.7       52.9
16    67.8   36.6      114.0
17   281.4   39.6       55.8
18    69.2   20.5       18.3
19   147.3   23.9       19.1
20   218.4   27.7       53.4
21   237.4    5.1       23.5
22    13.2   15.9       49.6
23   228.3   16.9       26.2
24    62.3   12.6       18.3
25   262.9    3.5       19.5
26   142.9   29.3       12.6
27   240.1   16.7       22.9
28   248.8   27.1       22.9
29    70.6   16.0       40.8
..     ...    ...        ...
170   50.0   11.6       18.4
171  164.5   20.9       47.4
172   19.6   20.1       17.0
173  168.4    7.1       12.8
174  222.4    3.4       13.1
175  276.9   48.9       41.8
176  248.4   30.2       20.3
177  170.2    7.8       35.2
178  276.7    2.3       23.7
179  165.6   10.0       17.6
180  156.6    2.6        8.3
181  218.5    5.4       27.4
182   56.2    5.7       29.7
183  287.6   43.0       71.8
184  253.8   21.3       30.0
185  205.0   45.1       19.6
186  139.5    2.1       26.6
187  191.1   28.7       18.2
188  286.0   13.9        3.7
189   18.7   12.1       23.4
190   39.5   41.1        5.8
191   75.5   10.8        6.0
192   17.2    4.1       31.6
193  166.8   42.0        3.6
194  149.7   35.6        6.0
195   38.2    3.7       13.8
196   94.2    4.9        8.1
197  177.0    9.3        6.4
198  283.6   42.0       66.2
199  232.1    8.6        8.7

[200 rows x 3 columns]

In [24]:
x_poly = x**2

In [25]:
x_poly.head()

         TV    Radio  Newspaper
0  52946.01  1428.84    4788.64
1   1980.25  1544.49    2034.01
2    295.84  2106.81    4802.49
3  22952.25  1705.69    3422.25
4  32688.64   116.64    3410.56

In [26]:
x.head()

      TV  Radio  Newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [27]:
x_all = pd.concat([x, x_poly], axis=1)

In [28]:
x_all.head()

      TV  Radio  Newspaper        TV    Radio  Newspaper
0  230.1   37.8       69.2  52946.01  1428.84    4788.64
1   44.5   39.3       45.1   1980.25  1544.49    2034.01
2   17.2   45.9       69.3    295.84  2106.81    4802.49
3  151.5   41.3       58.5  22952.25  1705.69    3422.25
4  180.8   10.8       58.4  32688.64   116.64    3410.56

In [29]:
x_trainPoly, x_testPoly, y_train, y_test = train_test_split(x_all, y, test_size = 0.5, random_state = 123)

In [30]:
x_trainPoly.head()

        TV  Radio  Newspaper        TV    Radio  Newspaper
61   261.3   42.7       54.7  68277.69  1823.29    2992.09
195   38.2    3.7       13.8   1459.24    13.69     190.44
38    43.1   26.7       35.1   1857.61   712.89    1232.01
27   240.1   16.7       22.9  57648.01   278.89     524.41
54   262.7   28.8       15.9  69011.29   829.44     252.81

In [31]:
linRegPoly = LinearRegression()
linRegPoly.fit(x_trainPoly, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [32]:
linRegPoly.score(x_trainPoly, y_train)

0.92507764087169131

In [33]:
linRegPoly.score(x_testPoly, y_test)

0.90745025636252741

In [34]:
x_poly_2 = x**5

In [35]:
x_poly_2.head()

             TV         Radio     Newspaper
0  6.450347e+11  7.717187e+07  1.586830e+09
1  1.745019e+08  9.374816e+07  1.865876e+08
2  1.505366e+06  2.037340e+08  1.598329e+09
3  7.981108e+10  1.201573e+08  6.851400e+08
4  1.931933e+11  1.469328e+05  6.793041e+08

In [36]:
x.head()

      TV  Radio  Newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [37]:
x_complex = pd.concat([x_all, x_poly_2], axis = 1)

In [38]:
x_all.head()

      TV  Radio  Newspaper        TV    Radio  Newspaper
0  230.1   37.8       69.2  52946.01  1428.84    4788.64
1   44.5   39.3       45.1   1980.25  1544.49    2034.01
2   17.2   45.9       69.3    295.84  2106.81    4802.49
3  151.5   41.3       58.5  22952.25  1705.69    3422.25
4  180.8   10.8       58.4  32688.64   116.64    3410.56

In [39]:
x_complex.head()

,TV,Radio,Newspaper,TV,Radio,Newspaper,TV,Radio,Newspaper
0,230.1,37.8,69.2,52946.01,1428.84,4788.64,6.450347e+11,7.717187e+07,1.586830e+09
1,44.5,39.3,45.1,1980.25,1544.49,2034.01,1.745019e+08,9.374816e+07,1.865876e+08
2,17.2,45.9,69.3,295.84,2106.81,4802.49,1.505366e+06,2.037340e+08,1.598329e+09
3,151.5,41.3,58.5,22952.25,1705.69,3422.25,7.981108e+10,1.201573e+08,6.851400e+08
4,180.8,10.8,58.4,32688.64,116.64,3410.56,1.931933e+11,1.469328e+05,6.793041e+08

In [40]:
x_complex.columns = ['tv', 'radio', 'newsppr', '4', '5', '6', '7', '8', '9']

In [41]:
x_complex.head()

,tv,radio,newsppr,4,5,6,7,8,9
0,230.1,37.8,69.2,52946.01,1428.84,4788.64,6.450347e+11,7.717187e+07,1.586830e+09
1,44.5,39.3,45.1,1980.25,1544.49,2034.01,1.745019e+08,9.374816e+07,1.865876e+08
2,17.2,45.9,69.3,295.84,2106.81,4802.49,1.505366e+06,2.037340e+08,1.598329e+09
3,151.5,41.3,58.5,22952.25,1705.69,3422.25,7.981108e+10,1.201573e+08,6.851400e+08
4,180.8,10.8,58.4,32688.64,116.64,3410.56,1.931933e+11,1.469328e+05,6.793041e+08

In [42]:
x_train_com, x_test_com, y_train, y_test = train_test_split(x_complex, y, test_size = 0.5, random_state = 123)

In [43]:
x_train_com.head()

,tv,radio,newsppr,4,5,6,7,8,9
61,261.3,42.7,54.7,68277.69,1823.29,2992.09,1.218140e+12,1.419513e+08,4.897074e+08
195,38.2,3.7,13.8,1459.24,13.69,190.44,8.134237e+07,6.934396e+02,5.004900e+05
38,43.1,26.7,35.1,1857.61,712.89,1232.01,1.487258e+08,1.356926e+07,5.327649e+07
27,240.1,16.7,22.9,57648.01,278.89,524.41,7.979227e+11,1.298920e+06,6.297634e+06
54,262.7,28.8,15.9,69011.29,829.44,252.81,1.251124e+12,1.981356e+07,1.016215e+06

In [44]:
x_test_com.head()

,tv,radio,newsppr,4,5,6,7,8,9
50,199.8,3.1,34.6,39920.04,9.61,1197.16,3.184032e+11,2.862915e+02,4.958845e+07
127,80.2,0.0,9.2,6432.04,0.00,84.64,3.317965e+09,0.000000e+00,6.590815e+04
37,74.7,49.4,45.7,5580.09,2440.36,2088.49,2.325964e+09,2.941946e+08,1.993338e+08
149,44.7,25.8,20.6,1998.09,665.64,424.36,1.784587e+08,1.143138e+07,3.709677e+06
19,147.3,23.9,19.1,21697.29,571.21,364.81,6.934477e+10,7.798113e+06,2.541949e+06

In [45]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import RidgeCV, LassoCV, Ridge, Lasso

In [49]:
linRegPoly.fit(x_trainPoly, y_train)
print ("train score poly: ", linRegPoly.score(x_trainPoly, y_train))
print ("test score poly: ", linRegPoly.score(x_testPoly, y_test))

train score poly:  0.925077640872
test score poly:  0.907450256363

In [51]:
# FITTING BASIC LINREG ON 9 VARIABLES

linRegres = LinearRegression()
linRegres.fit(x_train_com, y_train)
print ("train score: ", linRegres.score(x_train_com, y_train))
print ("test score: ", linRegres.score(x_test_com, y_test))

train score:  0.938692956967
test score:  0.90699573809

In [55]:
import sklearn

In [56]:
?sklearn

In [57]:
?sklearn.linear_model.LinearRegression