In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("Advertising.csv")

In [3]:
data.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [4]:
data = data.drop(["Unnamed: 0"], axis=1)

In [5]:
data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [7]:
data.isnull().any()

TV           False
Radio        False
Newspaper    False
Sales        False
dtype: bool

In [12]:
drop = ["Sales"]

def extractData(data):
    x = data.drop(drop, axis=1)
    y = data["Sales"]
    
    return x, y

x, y = extractData(data)

In [13]:
x.head()

      TV  Radio  Newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [14]:
y.head()

0    22.1
1    10.4
2     9.3
3    18.5
4    12.9
Name: Sales, dtype: float64

In [15]:
from sklearn.cross_validation import train_test_split

C:\Users\quantum\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [16]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state=123)

In [17]:
from sklearn.linear_model import LinearRegression

In [18]:
linReg = LinearRegression()

In [19]:
linReg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [21]:
linReg.score(x_train, y_train)

0.88739976647971075

In [22]:
linReg.score(x_test, y_test)

0.92886092852481628

In [24]:
y_predicted = linReg.predict(x_test)

In [26]:
y_predicted

array([ 12.5893486 ,   6.57466309,  15.51569107,   9.76164334,
        14.08560255,  20.17829056,  12.32800513,  19.82963814,
        14.87331552,  10.31222767,  10.12322859,  20.67028922,
         6.53084946,   6.01905104,   3.57991965,  11.29258057,
        13.14446753,  15.95278361,   7.79731662,  18.014187  ,
         7.55638624,  11.66008132,  10.74032853,   7.35587039,
        22.10561982,  10.2894642 ,  10.54321563,  14.89639115,
        10.0460676 ,  20.54318186,   9.63429763,  21.12541362,
        24.01131416,   6.77913882,  15.12282694,  19.16513974,
        18.44896906,  19.54139302,  16.23003217,   9.43340198])

In [27]:
y_test.shape

(40,)

In [28]:
y_predicted.shape

(40,)

In [29]:
error = y_predicted - y_test

In [30]:
error

50     1.189349
127   -2.225337
37     0.815691
149   -0.338357
19    -0.514397
104   -0.521709
179   -0.271995
53    -1.370362
162   -0.026684
158    3.012228
82    -1.176771
185   -1.929711
182   -2.169151
189   -0.680949
108   -1.720080
31    -0.607419
4      0.244468
178    4.152784
121    0.797317
20     0.014187
172   -0.043614
88    -1.239919
166    2.740329
170   -1.044130
128   -2.594380
72     1.489464
180    0.043216
26    -0.103609
144   -1.353932
52    -2.056818
79    -1.365702
93    -1.074586
183   -2.188686
119    0.179139
85    -0.077173
133   -0.434860
184    0.848969
139   -1.158607
95    -0.669968
140   -1.466598
Name: Sales, dtype: float64

In [31]:
rss = sum(error**2)

In [32]:
rss

88.120519164114057

In [39]:
rssMean = sum(error**2)/40

In [40]:
rssMean

2.2030129791028514

In [41]:
## Increase Complexity

In [42]:
x_poly = x**2

In [43]:
x.head()

      TV  Radio  Newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [44]:
x_poly.head()

         TV    Radio  Newspaper
0  52946.01  1428.84    4788.64
1   1980.25  1544.49    2034.01
2    295.84  2106.81    4802.49
3  22952.25  1705.69    3422.25
4  32688.64   116.64    3410.56

In [45]:
x_all = pd.concat([x, x_poly], axis=1)

In [46]:
x_all.head()

      TV  Radio  Newspaper        TV    Radio  Newspaper
0  230.1   37.8       69.2  52946.01  1428.84    4788.64
1   44.5   39.3       45.1   1980.25  1544.49    2034.01
2   17.2   45.9       69.3    295.84  2106.81    4802.49
3  151.5   41.3       58.5  22952.25  1705.69    3422.25
4  180.8   10.8       58.4  32688.64   116.64    3410.56

In [50]:
x_trainPoly, x_testPoly, y_trainPoly, y_testPoly = train_test_split(x_all, y, test_size=0.2, random_state=123)

In [51]:
linRegPoly = LinearRegression()

In [52]:
linRegPoly.fit(x_trainPoly, y_trainPoly)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [53]:
linRegPoly.score(x_trainPoly, y_trainPoly)

0.91143428084272449

In [54]:
linRegPoly.score(x_trainPoly, y_train)

0.91143428084272449

In [55]:
linRegPoly.score(x_testPoly, y_testPoly)

0.93645184024927142

In [56]:
linRegPoly.score(x_testPoly, y_test)

0.93645184024927142

In [3]:
#####Lanjutan Hari 3